body {
    margin:0 0 40px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#nav {
    top:0;
    position:sticky;
    text-align:center;
    font-size:1.33rem;
    padding:10px;
    background-color:#ffffc0;
    border-bottom:2px solid #000000;
}
#nav > a{
    color:black;
    text-decoration:none;

    transition:all 0.25s;
    border-bottom:2px solid #00000000;
    border-top:2px solid #00000000;
    padding-top:2px;
    padding-bottom:2px;
}
#nav > a:hover{
    border-bottom:2px solid #000000ff;
    border-top:2px solid #000000ff;
}
.title{
    font-size:2rem;
    padding-left:10px;
    padding-right:10px;
}
.background {
    width:100%;
    height:auto;
}
.inside {
    margin:50px 12.5% 0 12.5%;
    text-align:center;
}