@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root{
    font-size:1.25em;
}
body {
    margin:0 0 40px 0;

    font-family:
        -apple-system, BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Helvetica Neue", Arial, sans-serif;
}
#nav {
    top:0;
    position:sticky;
    text-align:center;
    font-size:1rem;
    padding:10px;
    background-color:#ffffc0;
    border-bottom:2px solid #000000;
    z-index:1;
}
#nav > a{
    color:black;
    text-decoration:none;

    transition:all 0.25s;
    border-bottom:2px solid #00000000;
    border-top:2px solid #00000000;
    padding-top:2px;
    padding-bottom:2px;
}
#nav > a:hover{
    border-bottom:2px solid #000000ff;
    border-top:2px solid #000000ff;
}
.title{
    font-size:1.75rem;
    padding-left:10px;
    padding-right:10px;
}
.background {
    width:90%;
    height:auto;
    margin:0 5% 0 5%;
    border-radius:100000px;
    display:block;
}
/* .map {
    width:100%;
    border-radius:10px;
    display:block;
} */
.inside {
    margin:30px 12.5% 30px 12.5%;
    text-align:center;
}
.cursive{
    font-family:"Dancing Script", cursive;
}
.large{
    font-size:1.5rem;
}
.xlarge{
    font-size:2rem;
}
.pad-content{
    margin-top:75px;
}
.hotels > img, .tips > img {
    transition:border-radius 0.5s 0s;
    border-radius:50%;
    height:300px;
    width:auto;
    max-width:75%;
    object-fit:cover;
    filter:drop-shadow(0 0 2px #000000);
}
.hotels > img:hover, .tips > img:hover {
    border-radius:10px;
}
#temperature{
    font-family:'Helvetica', monospace;
}
hr.small{
    width:75%;
}
hr.pad-bottom{
    margin-bottom:50px;
}
/* Generic */
img{
    margin:10px auto 10px auto;
    border-radius:10px;
    width:75%;
    height:auto;
    display:block;
}
a{
    text-decoration:none;
    color:#007cff
}
a:hover{
    color:#40c0ff;
}