body{
    margin:0 0 0 0;
    overflow-x:hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#nav{
    position:sticky;
    text-align:center;
    font-size:2rem;
    padding:10px;
    background-color:#dddddd;
    margin-bottom:10px;
}
.background {
    display:block;
    width:40%;
    height:auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* img{ */
    /* width:100%; */
    /* max-height:400px; */
    /* height:auto; */
    /* background-size: */
    /* object-fit:cover;
    object-position: center; */
    /* overflow:hidden; */
    /* display:block; */
    /* margin:0 auto 0 auto; */
/* } */